.container{
    background-color: yellow;
    display: flex;
    justify-content: center;
    margin:10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.note-container{
    display: block;

    margin: auto;
    background-color: orange;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
    
}

.text
{
    overflow-wrap: break-word;
    text-align: center;
    height: 60%;
    overflow-y: hidden;
    margin: 10px;
} 

.title{
    height: 25%;
    margin: 10px;
    overflow-wrap: break-word;
    overflow-y: hidden;
    text-align: center;
}

.delete{
    cursor: pointer;
    
    margin: 2px;
    right: 10px;
}